* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: hsl(39, 100%, 38%);
}

/* General */

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  background-color: hsl(191, 100%, 96%);
  color: hsl(191, 40%, 25%);
  font-size: 1.125rem;
}

.container {
  max-width: 1000px;
  margin: 0 1rem;
}

@media screen and (min-width: 1000px) {
  .container {
    margin: auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 250ms;
}

a:hover,
a:focus {
  color: var(--orange);
}

code {
  font-size: 1.5rem;
  padding: 0.125rem;
  color: hsl(39, 100%, 30%);
}

.paragraph-bold {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

/* Header */

header {
  padding: 2rem 0;
  mix-blend-mode: darken;
  position: relative;
  border-bottom: 1px solid var(--orange);
}

header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.2;
  background-image: url('../images/web-accessibility.png');
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-size: 3rem;
  line-height: 1.125;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.75rem;
  line-height: 1.125;
  font-weight: 600;
  color: var(--orange);
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  position: relative;
}

.subtitle:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 3px;
  background-color: var(--orange);
}

nav h2 {
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.table-of-contents {
  list-style-position: inside;
  list-style-type: disc;
  font-size: 1.375rem;
  font-weight: 600;
}

.table-of-contents li {
  margin: 1rem;
}

/* Sections */

section {
  margin: 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--orange);
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

section h4 {
  font-size: 1.25rem;
}

section p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

section p:last-child {
  margin-bottom: 0;
}

.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-container > div {
  margin-bottom: 2rem;
}

@media screen and (min-width: 700px) {
  .example-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

.example {
  color: var(--orange);
  font-weight: 600;
}

section img {
  border-radius: 0.25rem;
  width: 100%;
  display: block;
}

.kitten {
  margin-bottom: 1rem;
}

.focus,
.no-focus {
  font-weight: 600;
  color: inherit;
}

.no-focus:hover {
  border-bottom: 3px solid #ed0000;
  color: #ed0000;
}

.no-focus:focus {
  border-bottom: none;
  color: inherit;
}

.focus:hover,
.focus:focus {
  border-bottom: 3px solid #ed0000;
  color: #ed0000;
}

.poor-contrast {
  color: hsl(191, 40%, 70%);
}

input {
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.form-html {
  margin-bottom: 1rem;
}

pre,
code {
  max-width: 100%;
  overflow: auto;
}

/* Footer */

footer {
  text-align: center;
  font-weight: 600;
  margin: 4rem 0 2rem 0;
}
